table {
  border: 3px solid black;
  border-radius: 5%;
  margin: 0 auto;
  margin-top: 20px;
  width: 20%;
  padding: 10px;
}

th {
  height: 50px;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
  /* border: 1px solid gray; */
}

button {
  width: 80%;
  height: 75%;
  border: 2px solid rgb(146, 146, 146);
  border-radius: 7px;
  font-size: larger;
}

.input {
  width: 275px;
  height: 35px;
  font-size: x-large;
  text-align: right;
  color: blue;
}
